section.screen.screen-main
    .container
        .screen-header
            .screen-header-burger
                button.btn.js-to-navigation(aria-label="Menu")
                    svg.screen-header-burger__icon
                        use(xlink:href="#burger")
        .screen-content
            .screen-content-logotype
            svg.screen-content-logotype__icon
                use(xlink:href="#logo")
        .screen-footer
            button.btn.js-to-navigation.screen-footer__text(aria-label="Menu") Листайте вниз