section.screen.screen-navigation
    .container
        .screen-header
            .screen-header-logotype
                svg.screen-logotype__icon
                    use(xlink:href="#logo")
            .screen-header-close
                button.btn.js-to-main
                    svg.screen-header-close__icon
                        use(xlink:href="#close")
        .screen-content
            nav.screen-content-nav
                a(href="#") Главная
                a(href="#") Каталог
                a(href="#") Проекты
                a(href="#") Контакты
                a(href="#") Faq
        .screen-footer
            p.screen-footer__text 2021
            p.screen-footer__text Разработано onepix
            p.screen-footer__text
                a(href="#" target="_blank") все права защищены