@import "~normalize.css";
@import "variables";
@import "fonts";

@import "screens/screens";
@import "screens/main";
@import "screens/navigation";

html, body {
  font-family: $fontFamilyDefault;
  height: 100%;
  overflow: hidden;
}


* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 20px;
  display: block;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.btn {
  outline: none;
  border: none;
  display: block;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}