@import "~normalize.css";
@import "variables";
@import "fonts";

html, body {
  font-family: $fontFamilyDefault;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.logo {
  fill: $primaryColor;
  transition: fill .3s;

  &:hover {
    fill: $primaryColorDark;
  }
}

.picture {
  img {
    width: 200px;
    height: 100px;
  }
}