doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="icon" type="image/png" href="favicon.png")
        title Xelon ¦ Cloud Infrastructure as a Service & PaaS ¦ Switzerland
        meta(name="description" content="Cloud Infrastructure as a Service. Einfach, schnell und sicher!")
        meta(property="og:title" content="Xelon ¦ Cloud Infrastructure as a Service & PaaS ¦ Switzerland")
        meta(property="og:type" content="website")
        meta(property="og:image" content="thumbnail.png")
        meta(property="og:image:width" content="1200")
        meta(property="og:image:height" content="630")
        meta(property="og:description" content="Cloud Infrastructure as a Service. Einfach, schnell und sicher!")
    body
        block main